@model Wildcat.Entities.MCNJ.SecureHeatCards.TblHeatCard
<div class="form-row">
    @Html.HiddenFor(x => x.Hcn, new { @id = "EditHcn" })
    <div class="form-group col-md-6">
        <label class="form-label">Die Number</label>
        @Html.TextBoxFor(x => x.DieNumber, new { @id = "EditDieNumber", @class = "form-control", @readonly = "readonly" })
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Date:</label>
        @Html.TextBoxFor(x => x.Date, new { @id = "EditDate", @class = "form-control" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label class="form-label">Heat Code:</label>
        @Html.TextBoxFor(x => x.HeatCode, new { @id = "EditHeatCode", @class = "form-control" })
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Heat Number:</label>
        @Html.TextBoxFor(x => x.HeatNumber, new { @id = "EditHeatNumber", @class = "form-control" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label class="form-label">Nuc Prefix:</label>
        @Html.TextBoxFor(x => x.NucPrefix, new { @id = "EditNucPrefix", @class = "form-control" })
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Shop Order Number:</label>
        @Html.TextBoxFor(x => x.ShopOrderNumber, new { @id = "EditShopOrderNumber", @class = "form-control" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label class="form-label">Quantity Ordered Cut:</label>
        @Html.TextBoxFor(x => x.QuantityOrderedCut, new { @id = "EditQuantityOrderedCut", @class = "form-control" })
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Range:</label>
        @Html.TextBoxFor(x => x.Range, new { @id = "EditRange", @class = "form-control" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
        <label class="form-label">Notes:</label>
        @Html.TextBoxFor(x => x.Notes, new { @id = "EditNotes", @class = "form-control" })
    </div>
</div>
