@model Wildcat.App.ViewModels.MCNJ.HeatTreatBatchRecords.EditBatchViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="form-row">
    <div class="form-group col-md-2">
        <label class="form-label">Run Key:</label>
        @Html.TextBoxFor(x => x.Batch.RunKey, new { @class = "form-control", @readonly = "readonly", @id = "EditBatchRunKey" })
    </div>
    <div class="form-group col-md-3">
        <label class="form-label">Die No:</label>
        @Html.DropDownListFor(x => x.Batch.DieNo, Model.Dies, new { @class = "custom-select", @style = "btn-default", @id = "EditBatchDieNo" })
    </div>
    <div class="form-group col-md-3">
        <label class="form-label">Work Order:</label>
        @Html.TextBoxFor(x => x.Batch.WorkOrder, new { @class = "form-control", @id = "EditBatchWorkOrder" })
    </div>
    <div class="form-group col-md-2">
        <label class="form-label">Qty:</label>
        @Html.TextBoxFor(x => x.Batch.Qty, new { @class = "form-control", @id = "EditBatchQty" })
    </div>
    <div class="form-group col-md-2">
        <label class="form-label">Weight:</label>
        @Html.TextBoxFor(x => x.Batch.Weight, new { @class = "form-control", @id = "EditBatchWeight" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label class="form-label">Heat Code:</label>
        @Html.TextBoxFor(x => x.Batch.HeatCode, new { @class = "form-control", @id = "EditBatchHeatCode" })
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Heat No:</label>
        @Html.TextBoxFor(x => x.Batch.Htno, new { @class = "form-control", @id = "EditBatchHtno" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-6">
        <label class="form-label">Date</label>
        @Html.TextBoxFor(x => x.Batch.Date, new { @class = "form-control", @id = "EditBatchDate" })
    </div>
    <div class="form-group col-md-6">
        <label class="form-label">Customer:</label>
        @Html.DropDownListFor(x => x.Batch.Customer, Model.Customers, new { @class = "custom-select", @style = "btn-default", @id = "EditBatchCustomer" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label class="form-label">Batch No:</label>
        @Html.TextBoxFor(x => x.Batch.BatchNo, new { @class = "form-control", @id = "EditBatchBatchNo" })
    </div>
    <div class="form-group col-md-4">
        <label class="form-label">Material:</label>
        @Html.TextBoxFor(x => x.Batch.MatL, new { @class = "form-control", @id = "EditBatchMatL" })
    </div>
    <div class="form-group col-md-4">
        <label class="form-label">Furnace:</label>
        @Html.TextBoxFor(x => x.Batch.Furnace, new { @class = "form-control", @id = "EditBatchFurnace" })
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-4">
        <label class="form-label">Time At Temp:</label>
        @Html.TextBoxFor(x => x.Batch.TimeAtTemp, new { @class = "form-control", @id = "EditBatchTimeAtTemp" })
    </div>
    <div class="form-group col-md-4">
        <label class="form-label">Cycle:</label>
        @Html.TextBoxFor(x => x.Batch.Cycle, new { @class = "form-control", @id = "EditBatchCycle" })
    </div>
    <div class="form-group col-md-4">
        <label class="form-label">Run Temp:</label>
        @Html.TextBoxFor(x => x.Batch.RunTemp, new { @class = "form-control", @id = "EditBatchRunTemp" })
    </div>
</div>
