

@{
    Layout = "";
}

@model Wildcat.App.ViewModels.Planning.PlanningModel

@{
    bool newLot = false;
    string lastLot = string.Empty;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">

        //IMMEDIATELY POP OPEN PRINT DIALOG IF USER HAS CHROME...BECAUSE CHROME HAS
        // AN ANNOYING ERROR MESSAGE WHEN THE USER EXECUTES window.print() AFTER PAGE LOAD
        window.onload = function () {
            if (navigator.userAgent.toLowerCase().indexOf('chrome') > -1) {
                window.PPClose = false;
                window.print();
                window.close();
                window.PPClose = true;
            }
        }

    </script>
</head>
<body>

    <style>
        body {
            font-size: small;
        }
    </style>

    <table border="0" cellpadding="2" cellspacing="0" id="datatable11" style="width: 100%">
        <tbody>
            <tr>
                <td style="width: 25%; text-align: left">&nbsp;</td>
                <td style="width: 50%; text-align: center"><h2>CUTTING TICKET</h2></td>
                <td style="width: 25%; text-align: right">
            </tr>
        </tbody>
    </table>

    <table border="1" cellpadding="4" cellspacing="0" id="datatable12" style="width: 100%">
        <thead>
            <tr role="row">
                <th colspan="1" style="text-align: left;">CUSTOMER</th>
                <th colspan="2" style="text-align: left; font-weight: 400;">@Model.PlanHeader.CustomerName</th>
                <th colspan="1" style="text-align: left;">DISCRETE JOB</th>
                <th colspan="7" style="text-align: left;">@Model.DiscreteJobNumber</th>
            </tr>
            <tr role="row">
                <th colspan="1" style="text-align: left;">PART</th>
                <th colspan="10" style="text-align: left; font-weight: 400;">@Model.PlanHeader.Partnumber @Model.PlanHeader.Materialnotes</th>
            </tr>
            <tr role="row">
                <th colspan="1" style="text-align: left;">S/N</th>
                <th colspan="10" style="text-align: left; font-weight: 400;">@Model.SerialNumberString</th>
            </tr>
            <tr role="row">
                <th colspan="1" style="text-align: left;">MATERIAL</th>
                <th colspan="10" style="text-align: left; font-weight: 400;">@Model.PlanHeader.Material1 @Model.PlanHeader.Material2</th>
            </tr>
            <tr role="row">
                <th colspan="1" style="text-align: left;">NOTES</th>
                <th colspan="2" style="text-align: left; font-weight: 400;">@Model.PlanHeader.EngineProgram</th>

                <th colspan="1" style="text-align: left;">WEIGHTS</th>
                <th colspan="7" style="text-align: left; font-weight: 400;">@Model.WeightString</th>
            </tr>
            <tr role="row">
                <th colspan="1" style="text-align: left;">MATERIAL PROSPECTS</th>
                <th colspan="2" style="text-align: left; font-weight: 400;">@Model.PlanHeader.MaterialCode @Model.PlanHeader.Stockshape @Model.PlanHeader.RmSize</th>

                <th colspan="1" style="text-align: left;">OTHER</th>
                <th colspan="7" style="text-align: left; font-weight: 400;">@Html.Raw(@Model.OtherString)</th>
            </tr>
            <tr role="row">
                <th colspan="1" style="text-align: left;">QUALITY NOTES</th>
                <th colspan="10" style="text-align: left; font-weight: 400;">@Model.PlanHeader.ShortText</th>
            </tr>

        </thead>
    </table>
    <br />

    <table border="1" cellpadding="4" cellspacing="0" id="datatable13" style="width: 100%">
        <thead>

            @*<tr role="row">
                <th colspan="11">&nbsp;</th>
            </tr>*@

            <tr role="row">
                <th colspan="5" style="text-align: left;">DATE CUT</th>
                @*<th colspan="4">&nbsp;</th>*@
                <th colspan="6" style="text-align: left;">CUT BY</th>
                @*<th colspan="5">&nbsp;</th>*@
            </tr>

            <tr role="row">
                <th>SHAPE</th>
                <th>HEAT BILLET</th>
                <th>START WT</th>
                <th>PIECES</th>
                <th>CUT WT</th>
                <th>RBS/S</th>
                <th>REMNANT WT</th>
                <th>WT USED</th>
                <th>OPER RBS/S</th>
                <th>PULLED BY</th>
                <th>VERIFIED BY</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var bar in Model.CuttingTicketRecords)
            {
                <tr>
                    <td>@Html.DisplayFor(Model => bar.Stocksize1) @Html.DisplayFor(Model => bar.Stockshape)</td>
                    <td style="width: 120px; text-align: right">@Html.DisplayFor(Model => bar.WgHeatNumber)_@Html.DisplayFor(Model => bar.BarIngotNumber)</td>
                    <td>@Html.DisplayFor(Model => bar.StartingBarWeight)</td>
                    <td>@Html.DisplayFor(Model => bar.PieceCount)</td>
                    <td>@Html.DisplayFor(Model => bar.CutWeight)</td>
                    <td>---</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            }

        </tbody>
    </table>

</body>
</html>