@{
    //ViewBag.Title = "Wildcat Dashboard";
    var request = Context;
    //var userName = request.HttpContext.User.Identity.Name.ToString();
}
<!DOCTYPE html>
<html lang="en" class="default-style">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    @*<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">*@
    <!-- Icon fonts -->
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/ionicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/linearicons.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/open-iconic.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/pe-icon-7-stroke.css">
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/bootstrap.css" class="theme-settings-bootstrap-css">
    <link rel="stylesheet" href="~/assets/vendor/libs/jstree/themes/default/style.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/appwork.css" class="theme-settings-appwork-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-corporate.css" class="theme-settings-theme-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/colors.css" class="theme-settings-colors-css">
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/uikit.css">
    <link rel="stylesheet" href="~/assets/css/demo.css">

    <link href="~/css/site.css" rel="stylesheet">

    <script src="~/assets/vendor/js/material-ripple.js"></script>
    <script src="~/assets/vendor/js/layout-helpers.js"></script>
    <!-- Theme settings -->
    <!-- This file MUST be included after core stylesheets and layout-helpers.js in the <head> section -->
    <script src="~/assets/vendor/js/theme-settings.js"></script>
    <script>
        window.themeSettings = new ThemeSettings({
            cssPath: '/assets/vendor/css/rtl/',
            themesPath: '/assets/vendor/css/rtl/'
        });
    </script>
    <!-- Core scripts -->
    <script src="~/assets/vendor/js/pace.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Libs -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-duallistbox/bootstrap-duallistbox.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/spinkit/spinkit.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/growl/growl.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/toastr/toastr.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/datatables/datatables.css">
    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css" />

    <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-table/bootstrap-table.css" />

    <!-- Core scripts -->
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/js/sidenav.js"></script>

    @*<link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
        <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.css">
        <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.css">
        <link rel="stylesheet" href="~/assets/vendor/libs/bootstrap-material-datetimepicker/bootstrap-material-datetimepicker.css">
        <link rel="stylesheet" href="~/assets/vendor/libs/timepicker/timepicker.css">
        <link rel="stylesheet" href="~/assets/vendor/libs/minicolors/minicolors.css">*@
</head>
<body>
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <!-- Layout sidenav -->
            <div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-dark">
                <!-- Brand demo (see assets/css/demo/demo.css) -->
                <div class="app-brand demo">
                    <span class="app-brand-logo demo bg-primary">
                        <svg viewBox="0 0 148 80" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><linearGradient id="a" x1="46.49" x2="62.46" y1="53.39" y2="48.2" gradientUnits="userSpaceOnUse"><stop stop-opacity=".25" offset="0"></stop><stop stop-opacity=".1" offset=".3"></stop><stop stop-opacity="0" offset=".9"></stop></linearGradient><linearGradient id="e" x1="76.9" x2="92.64" y1="26.38" y2="31.49" xlink:href="#a"></linearGradient><linearGradient id="d" x1="107.12" x2="122.74" y1="53.41" y2="48.33" xlink:href="#a"></linearGradient></defs><path style="fill: #fff;" transform="translate(-.1)" d="M121.36,0,104.42,45.08,88.71,3.28A5.09,5.09,0,0,0,83.93,0H64.27A5.09,5.09,0,0,0,59.5,3.28L43.79,45.08,26.85,0H.1L29.43,76.74A5.09,5.09,0,0,0,34.19,80H53.39a5.09,5.09,0,0,0,4.77-3.26L74.1,35l16,41.74A5.09,5.09,0,0,0,94.82,80h18.95a5.09,5.09,0,0,0,4.76-3.24L148.1,0Z"></path><path transform="translate(-.1)" d="M52.19,22.73l-8.4,22.35L56.51,78.94a5,5,0,0,0,1.64-2.19l7.34-19.2Z" fill="url(#a)"></path><path transform="translate(-.1)" d="M95.73,22l-7-18.69a5,5,0,0,0-1.64-2.21L74.1,35l8.33,21.79Z" fill="url(#e)"></path><path transform="translate(-.1)" d="M112.73,23l-8.31,22.12,12.66,33.7a5,5,0,0,0,1.45-2l7.3-18.93Z" fill="url(#d)"></path></svg>
                    </span>
                    <a href="~/Home/Index" class="app-brand-text demo sidenav-text font-weight-bolder ml-2">Wildcat</a>
                    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                        <i class="ion ion-md-menu align-middle"></i>
                    </a>
                </div>

                <!-- Links -->
                @await Component.InvokeAsync("NavigationMenu", Context)
            </div>
            <!-- / Layout sidenav -->
            <!-- Layout container -->
            <div class="layout-container">
                <!-- Layout navbar -->
                <nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-white container-p-x" id="layout-navbar">
                    <!-- Brand demo (see assets/css/demo/demo.css) -->
                    <a href="/Home/Index" class="navbar-brand app-brand demo d-lg-none py-0 mr-4">
                        <span class="app-brand-text demo font-weight-normal ml-2">Wildcat</span>
                    </a>
                    <!-- Sidenav toggle (see assets/css/demo/demo.css) -->
                    <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center mr-auto">
                        <a class="nav-item nav-link px-0 mr-lg-4" href="javascript:void(0)">
                            <i class="ion ion-md-menu text-large align-middle"></i>
                        </a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="layout-navbar-collapse">
                        <!-- Divider -->
                        <hr class="d-lg-none w-100 my-2">
                        <div class="navbar-nav align-items-lg-center">
                            <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
                                <i class="ion ion-md-menu fa-align-left"></i>
                            </a>
                        </div>
                        <div class="navbar-nav align-items-lg-center ml-auto">
                            @await Component.InvokeAsync("PlantSelect")

                            @await Component.InvokeAsync("UserProfile", request)
                        </div>
                    </div>
                </nav>
                <!-- / Layout navbar -->
                <!-- Layout content -->
                <div class="layout-content">
                    <!-- Content -->
                    <div class="container-fluid flex-grow-1 container-p-y h-100">
                        @{
                            if (Environment.MachineName == "WGFC-QA-IIS01")
                            {
                                <div class="bg-danger">QA Environment</div>
                            }
                            else if (Environment.MachineName == "WGFC-DEV-IIS01")
                            {
                                <div class="bg-success">Dev Environment</div>
                            }
                            else if (Environment.MachineName.ToUpper().Contains("7Y8B6L2"))
                            {
                                <div class="bg-warning">LOCAL ENVIRONMENT</div>
                            }
                        }

                        @await Component.InvokeAsync("BreadCrumb", request)

                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <!-- Layout footer -->
                    <nav class="layout-footer footer bg-footer-theme bg-danger">
                        <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
                            <div class="pt-3">
                                <span class="footer-text">
                                    [ @request.User.Identity.Name ]
                                    [ @request.Connection.RemoteIpAddress.ToString() ]
                                    [ @Environment.MachineName ]
                                </span>
                            </div>
                            <div class="pt-3">
                                <span class="footer-text font-weight-bolder">Wildcat</span> ©@DateTime.Now.Year
                            </div>
                        </div>
                    </nav>
                    <!-- / Layout footer -->
                </div>
                <!-- Layout content -->
            </div>
            <!-- / Layout container -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Libs -->
    <script src="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/assets/vendor/libs/block-ui/block-ui.js"></script>
    <script src="~/assets/vendor/libs/chartjs/chartjs.js"></script>
    <script src="~/assets/vendor/libs/datatables/datatables.js"></script>
    <script src="~/assets/js/tables_datatables.js"></script>
    <script src="~/assets/vendor/libs/jstree/jstree.js"></script>
    <script src="~/assets/vendor/libs/growl/growl.js"></script>
    <script src="~/assets/vendor/libs/toastr/toastr.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-table/extensions/export/export.js"></script>
    <script src="~/assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js"></script>
    <!-- Demo -->
    <script src="~/assets/js/demo.js"></script>
    <script src="~/assets/js/misc_blockui.js"></script>
    <!-- Layout global js -->
    @*<script src="~/scripts/Global/ThirdPartyJs/jquery.cookie.js"></script>*@
    <script src="~/scripts/Global/ThirdPartyJs/jquery.fileDownload.js"></script>
    <script src="~/scripts/Global/ThirdPartyJs/js.cookie.js"></script>
    <script src="~/scripts/Global/Layout.js"></script>
</body>
</html>
