@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p>
    <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
    It can result in displaying sensitive information from exceptions to end users.
    For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
    and restarting the app.
</p>




<hr /> From Old Wildcat

<h3 class="text-danger">Something went wrong, an error occurred while processing your request.</h3>

<h4 class="text-danger">Details</h4>

<p>If you would like further assistance on this issue, please create a <a href="https://wgh-fp.precastcorp.com/MRcgi/MRentrancePage.pl">Footprints</a> tickets.  If you do submit a ticket, please copy and paste the text below into your ticket, with any other details.  Thanks.</p>

<p><strong>Status Code:</strong><code> @Model.StatusCode</code></p>
<p><strong>User: </strong><code> @Model.User</code></p>
<p><strong>Reference Id:</strong><code> @DateTime.Now.Ticks</code></p>
<p><strong>URL</strong><code> : @Model.Referer</code></p>
<p><strong>Event Time:</strong><code>@DateTime.Now</code></p>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong><code>@Model.RequestId</code>
    </p>
}